body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('/static/assets/images/store-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    background-color: white;
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

footer {
    background-color: whitesmoke !important;
}

header {
    background-color: white;
}

.item-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.button-link {
    text-decoration: none;
    color: white
}

#footer {
    background-color: whitesmoke !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#dropdown-logo {
    margin-right: 10px;
}

#login-box {
    max-width: 400px !important;
    padding-top: 200px !important;
}

#additem-box {
    max-width: 400px !important;
    padding-top: 200px !important;
    margin-bottom: 200px !important;
}

#logo-image {
    margin-right: 40px;
}

#content-box {
    background-color: white;
}

#christmas-box {
    max-width: 1000px !important;
    padding-top: 200px;
}

#christmas-ad {
    background: url('https://st2.depositphotos.com/1010735/9254/v/950/depositphotos_92545840-stock-illustration-christmas-banner-with-spruce-twigs.jpg') no-repeat;
    margin-bottom: 100px !important;
}

#christmas-ad-text {
    color: white !important;
    -webkit-text-stroke: 2px black;
}

#item-container {
    margin-bottom: 200px !important;
}

#item-img {
    height: 200px;
    width: 250px;
}
