header {
    background-color: white;
}

footer {
    background-color: white;
}

#dropdown-logo {
    margin-right: 10px;
}

#login-box {
    max-width: 400px !important;
    padding-top: 200px !important;
}

#additem-box {
    max-width: 400px !important;
    padding-top: 200px !important;
    margin-bottom: 200px !important;
}

#logo-image {
    margin-right: 40px;
}
