{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<body>
    <div class="container" id="main-wrapper">
      <main class="w-100 m-auto align-items-center" id="login-box">
          <img class="mb-4" src="/static/assets/images/placeholder-logo.svg" alt="company logo" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal" style="color: red;">This process is irreversable. Are you sure you wish to delete this item?</h1>
          {{ render_form(form) }}
      </main>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

{% include "footer.html" %}
