  <div class="container">
    <footer class="py-1 mt-50">
      <ul class="nav justify-content-center border-bottom pb-1 mb-1">
        <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
      </ul>
      <p class="text-center text-body-secondary">© 2023 J's House, Photo by 
        <a href="https://unsplash.com/@itsmaemedia?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" style="text-align: center;">Shayna Douglas </a>
        on <a href="https://unsplash.com/photos/brown-cardboard-boxes-on-brown-wooden-shelf-rolYlmTUHHg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" style="text-align: center;">Unsplash</a>
      </p>
    </footer>
  </div>
</html>
