
<body>
  {% include "header.html" %}
  <div class="container" id="main-wrapper">
    <div class="container my-5" id="christmas-box">
      <div class="p-5 text-center bg-body-tertiary rounded-3" id="christmas-ad">
        <h1 class="text-body-emphasis" id="christmas-ad-text" style="font-size: 60px !important;">Christmas Sale!</h1>
        <p class="col-lg-8 mx-auto text-muted" id="christmas-ad-text" style="font-size: 40px !important;">
          50% off of all inventory
        </p>
      </div>
    </div>

<!-- Main Content-->
    <div class="container px-4 px-lg-5" id="item-container">
      <div class="row gx-2 gx-lg-3">
        <!-- Items for Sale-->
        {% for item in items %}
        <div class="col" style="max-width: 300px !important;">
          <div class="card mb-4 shadow-sm">
            <div class="card-header py-3">
              <img src="{{ item.img_url }}" id="item-img">
            </div>
            <div class="card-body">
              <a class="item-link" href="{{ url_for('goto_item', item_id=item.id) }}">{{ item.name }}</a>
              <div><a class="item-link" href="{{ url_for('goto_item', item_id=item.id) }}" style="font-size: 30px !important;">${{ item.price }}/{{ item.unit_amt }} {{ item.unit }}</a></div>
              <button type="button" class="w-100 btn btn-lg btn-primary mb-2"><a class="button-link" href="{{ url_for('goto_item', item_id=item.id) }}">Add to cart</a></button>
              {% if current_user.id == 1: %}
              <button type="button" class="w-100 btn btn-lg btn-primary" style="background-color: grey;"><a class="button-link" href="{{url_for('edit_item', item_id=item.id) }}">Edit item</a></button>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
  {% include "footer.html" %}

